* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 5px;
    background-color: rgb(230, 103, 57);
    margin-inline: 15px;
    color: rgb(58, 43, 43);
}

h1 {
    margin: 0;
}

header.main-header {
    display: flex;
    justify-content: space-between;
}

header div.search {
    align-self: end;
}

section.main-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 1fr;
}

div#map {
    grid-row: 1/3;
    grid-column: 2;
}

button{
    background-color: gray;
    color: rgb(224, 209, 209);
    border: none;
}

button:hover {
    cursor: pointer;
}

.btn-header{
    padding-block: 5px;
    margin-left: 0;
    margin-right: 2px;
    height: 29px;
}

.search{
    padding-inline: 16px;
    height: 29px;
}